<% if @user.errors.any? %>

<div id="errors">
	<p><%= pluralize(@user.errors.count, "problem") %> occurred while processing the following fields:</p>
	<ul>
		<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
</div>

<% end %>